:root {
  font-family: "Roboto", sans-serif;
  --bg-dark: hsl(0, 0%, 0%);
  --bg-lighter: hsl(0, 0%, 5%);
  --bg-light: hsl(0, 0%, 10%);
  --bg-lightest: hsl(0, 0%, 15%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
}

body.light {
  --bg-dark: hsl(0, 0%, 90%);
  --bg-lighter: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%, 30%);
}
body {
  background-color: var(--bg-dark);
  color: var(--text-muted);
}
dialog {
  width: 550px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--bg);
  border-color: var(--bg);
  padding: 20px;
  background-color: var(--bg-lighter);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.dialog-header {
  display: flex;
  align-items: flex-start;
  padding-top: 0;
  margin-top: -10px;
  color: var(--text);
  justify-content: flex-start;
  font-size: 12px;
  font-weight: bold;
}
input {
  background-color: hsl(0, 0%, 90%);
}
.dialog-content {
  color: var(--text-muted);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
  gap: 10px;
  margin-top: auto;
}

::backdrop {
  /* background: hsl(0, 0%, 20%); */
  backdrop-filter: blur(5px);
  opacity: 0.75;
}
.bookcard-container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  flex-direction: row;
}
.bookcard-content {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.book-title {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.book-info {
  font-size: 15px;
  color: var(--text-muted)
  margin-bottom: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: green;
}
.btn-add {
  background-color: var(--bg-light);
}
.btn-delete {
  background-color: var(--bg-light);
}
.btn {
  background-color: var(--bg-light);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}
.btn:hover {
  background-color: var(--bg-lightest);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bookcard {
  background-color: var(--bg-lighter);
  border: 1px solid var(--bg-light);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bookcard-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  padding: 2px;
  position: relative;
}
.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.status {
  margin-right: 2px;
  font-size: 14px;
  color: #666;
}
.form-row {
  width: 80%;
  display: flex;
  align-items: left;
  margin-bottom: 10px;
}

.form-row label {
  width: 150px; /* pevná šířka pro zarovnání */
  margin-right: 10px;
  text-align: left;
}

.form-row input {
  flex: 1;
}
input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; /* zajistí, že padding a border jsou zahrnuty v šířce */
}
input:focus {
  border: 1px solid #007bff; /* změna tloušťky a barvy */
  outline: none; /* odstraní modré blikající okraje v Chrome */
}
